<app-header></app-header>
<div class="container text-center">
    <br>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" required>
            <div class="form-group">
                <br>
                <label for="monitor">Display your message!</label>
                <br>
                <input style="border: black solid 2px" type="text" class="form-control" name="monitor" formControlName="monitor" id="monitor" placeholder="Type your message here!">

            </div>
        <button type="submit" [disabled]="!userForm.valid" class="btn btn-danger">Send</button>
    </form>
</div>


